<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asana Dashboard</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="Dashboard for viewing priority Asana items.">

    <!-- Le styles -->
        <!--<script src="http://dabblet.com/code/prefixfree.min.js"></script>-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet">
    <link href="stylesheets/treemap.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">

   
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="row">
      <div class="col-2">
        <a class="navbar-brand" href="/">Asana Dashboard</a>
      </div>
      <div class="col-6">
        <div class="input-group" id="search-form">
          <input type="text" class="form-control" placeholder="Just start typing...">
          <div class="input-group-btn">
            <button type="button" id="tag-task-toggle" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search Tasks <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Search Tasks</a></li>
              <li><a href="#tags">Search Tags</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <div class='col-2'>
        <h4 class='navbar-text'>Results: <strong><span class="text-danger" id="number-of-results"></span></strong></h4>
      </div>
    </div><!-- col 8 -->
  </div>
    </nav>





    <div class="container"> 
      <div class="row">
        <div class="col-2">
          <form id="task-filter-form" class="form-horizontal affix">
              <div class="control-group">
                <label class="control-label" for="workspace-filter">Filter By Workspaces</label>
                <div class="controls" id="workspace-filter">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="header-filter">Filter By Header</label>
                <div class="controls" id="header-filter">
                  <input id='header-filter' class='form-control'> </input>
                </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="completed-filter">Filter By Completed</label>
                  <div class="controls">
                    <select id="completed-filter" class="form-control">
                      <option>Show All</option>
                      <option>Completed Tasks</option>
                      <option>Incomplete Tasks</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="assigned-filter">Filter By Assigned</label>
                  <div class="controls">
                    <select id="assigned-filter" class="form-control">
                      <option>Show All</option>
                      <option>Unassigned Tasks</option>
                      <option>Assigned Tasks</option>
                    </select>
                  </div>
                </div>
              </form>
              <form id="tag-filter-form" class="form-horizontal affix">
                <h4>Commonly Used Tags</h4>
                <!--These are hardcoded for simplicity's sake-->
                <a href="#tags/legal"><strong>Legal</strong></a><br />
                <a href="#tags/High Priority"><strong>High Priority</strong></a><br />
                <a href="#tags/this release"><strong>This Release</strong></a><br />
                <a href="#tags/NYOP"><strong>NYOP</strong></a><br />
                <a href="#tags/Feature"><strong>Features</strong></a><br />
                <a href="#tags/Freebies"><strong>Freebies</strong></a><br />
              </form>
           
        </div><!-- COL -->
        <div class="col-9">    
          <div id="main-content"></div>
        </div>      
      </div>
    </div> <!-- /container -->

    <!--TEMPLATES-->
    

    <script id="task-template" type="text/template">
      <div class="task-header">
        <a target="_blank" class="asana-link" href="https://app.asana.com/0/<%= href %>"><%= name %></a>
      </div>
      <div class="task-status"> 
        <% if(assignee != 'Not assigned.'){ %>
          <div class='label-box'>
            <span class='label label-default'>Assigned to: <strong> <%= assignee %> </strong></span>
          </div>
        <% } %>
        <% if(completed_at != 'Not completed.'){ %>
          <div class='label-box'>
            <span class='label label-success'>Completed: <strong> <%= completed_at.substring(0,10) %> </strong></span>
          </div>
        <% } %>
      </div>
    </script>
    <script id="tag-template" type="text/template">
      <div class='panel panel-primary'>
        <div class='panel-heading' data-toggle="collapse" data-target="#demo<%= id %>">
          <h3 class="panel-title"><i class='icon icon-tag'></i> <strong><%= name %></strong></h3>
        </div>
        <div id="demo<%= id %>" class="in">
          <table class="table" style="table-layout: fixed;">
            <thead><tr><th>Task Name</th><th>Task Workspace</th><th>Priority Header</th></tr></thead>
              <% _.each(tasks, function(task) { %>
                <% if (task[0]) { %>

                  <tr>
                    <td><%= task[0].name %></td>
                    <td><%= task[0].workspace.name %></td>
                    <td><%= task[0].priority_header %></td>
                  </tr>
                <% } %>
              <% }); %>
          </table>
        </div>
      </div>
    </script>


<!--
    <div class="footer">
      <div class="container">
        <p>Made with Node, Express, MongoDB, and Twitter Bootstrap.  July 2013.</p>
      </div>
    </div>
  -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/d3.v2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/typeahead.min.js"></script>
    <script src="/app.js"></script>


  </body>
</html>