<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asana Dashboard</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="Dashboard for viewing priority Asana items.">

    <!-- Le styles -->
        <!--<script src="http://dabblet.com/code/prefixfree.min.js"></script>-->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Asana Dashboard</i></a>
          <div class="nav-collapse collapse" style="float:right; margin-right: 60px;">
            <ul class="nav">
              <li><a href="configure">Configure</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container"> 
      <div class="row-fluid">
        <div class="span2">
          <nav id="sidebar-nav">
            <ul class="nav nav-pills nav-stacked affix">
              <li><a href="#home"><i class="icon-home"></i> Home</a></li>
              <li><a href="#recentlyCompleted"><i class="icon-ok"></i> Recently Completed</a></li>
              <li><a href="#tags"><i class="icon-tags"></i> Tags</a></li>
              <li><a href="#currentSprint"><i class="icon-fast-forward"></i> Current Sprints</a></li>
              <li><a href="#backlog"><i class="icon-folder-open"></i> Backlog</a></li>
            </ul>
          </nav>
        </div>
        <div class="span9 offset1">
          <section id="home">
             <h3>At a glance...</h3>
             <div class="scrollbox">
              <p class="lead">Tasks Completed This Week: <strong><span class="text-success" id="completedNo"></span></strong></p>
              <p class="lead">Tasks Added This Week: <strong><span class="text-success" id="addedNo">23</span></strong></p>
              <p class="lead">Total Tasks: <strong><span class="text-success" id="totalNo"></span></strong></p>
              </div>
          </section>
          <section id="nextDeploy">
             <h4>Next Deploy</h4>
             <div class="scrollbox">
              <p>Implement me!</p>
              </div>
          </section>
          <section id="recentlyCompleted">
             <h4>Recently Completed Tasks</h4>
             <div class="scrollbox">
             <table id="completedTasks" class="table table-condensed table-hover"></table>
              </div>
          </section>
          <section id="currentSprint">
            <h4>Current Sprint Tasks</h4>
            <form class="form-inline" id="inline-right">
              <input id="hideCompleted" type="checkbox" checked> Hide Completed Tasks</input>
            </form>
            <div class="scrollbox">
            <table id="sprintTasks" class="table table-condensed table-hover"></table>
            </div>
          </section>
          <section id="tags">
             <h4>Tags</h4>
              <div class="scrollbox">
                <div class="accordion" id="accordionTags"></div>
              </div>
          </section>
        </div>
      </div>
    </div> <!-- /container -->

<!--
    <div class="footer">
      <div class="container">
        <p>Made with Node, Express, MongoDB, and Twitter Bootstrap.  July 2013.</p>
      </div>
    </div>
  -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/assets/js/jquery.js"></script>
    <script src="jquery.tablesorter.min.js"></script>
    <script src="site.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>