<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asana Dashboard</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="Dashboard for viewing priority Asana items.">

    <!-- Le styles -->
        <!--<script src="http://dabblet.com/code/prefixfree.min.js"></script>-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="row">
      <div class="col-2">
        <a class="navbar-brand" href="/">Asana Dashboard</i></a>
      </div>
      <div class="col-8">      
        <form class="navbar-form" id="task-search-form" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search by anything...">
          </div>
        </form>
        <form class="navbar-form" id="tag-search-form" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Find a tag...">
          </div>
        </form>
      </div>
    </div>
  </div>
    </nav>





    <div class="container"> 
      <div class="row">
        <div class="col-2">
          <nav id="sidebar-nav">   
            <ul class="nav nav-pills nav-stacked affix">
              <li><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#tags"><i class="icon-tags"></i> Search Tags</a></li>
              <li><a href="#search"><i class="icon-search"></i> Search Tasks</a></li>
            </ul>
          </nav>
           
        </div><!-- COL -->
        <div class="col-8">    
          <div id="main-content"></div>
        </div>
        <div class="col-2">
          <form id="task-filter-form" class="form-horizontal affix">
              <h5>Results: <strong><span class="text-danger" id="number-of-results"></span></strong></h5>
              <div class="control-group">
                  <label class="control-label" for="completed-filter">Filter By Completed</label>
                  <div class="controls">
                    <select id="completed-filter" class="form-control">
                      <option>Show All</option>
                      <option>Completed Tasks</option>
                      <option>Incomplete Tasks</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="completed-filter">Filter By Assigned</label>
                  <div class="controls">
                    <select id="assigned-filter" class="form-control">
                      <option>Show All</option>
                      <option>Unassigned Tasks</option>
                      <option>Assigned Tasks</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="completed-filter">Filter By Workspace</label>
                  <div class="controls" id="workspace-filter">
                  
                  </div>
                </div>
              </form>
        </div>        
      </div>
    </div> <!-- /container -->

    <!--TEMPLATES-->
    

    <script id="task-template" type="text/template">
      <div class="task-header">
        <a target="_blank" class="asana-link" href="https://app.asana.com/0/<%= href %>"><%= name %></a>
        <h5><%= workspace %>: <small> <%= project %></small></h5>
        <h5><%= priority_header %></h5>
      </div>
      <div class="task-status"> 
        <% if(completed_at != 'Not completed.'){ %>
          <div class='label-box'>
            <span class='label label-default'>Assigned to: <strong> <%= assignee %> </strong></span>
          </div>
        <% } %>
        <% if(completed_at != 'Not completed.'){ %>
          <div class='label-box'>
            <span class='label label-success'>Completed: <strong> <%= completed_at.substring(0,10) %> </strong></span>
          </div>
        <% } %>
      </div>
    </script>
    <script id="tag-template" type="text/template">
      <div class='panel'>
        <div class='panel-heading' data-toggle="collapse" data-target="#demo<%= id %>">
          <h3 class="panel-title"><strong><%= name %></strong></h3>
        </div>
        <div id="demo<%= id %>" class="in">
          <table class="table">
            <thead><tr><th>Task Name</th><th>Task Workspace</th><th>Priority Header</th></tr></thead>
              <% _.each(tasks, function(task) { %>
                <% if (task[0]) { %>

                  <tr>
                    <% console.log(task[0]) %>
                    <td><%= task[0].name %></td>
                    <td><%= task[0].workspace.name %></td>
                    <td><%= task[0].priority_header %></td>
                  </tr>
                <% } %>
              <% }); %>
          </table>
        </div>
      </div>
    </script>
    <script id="task-group-template" type="text/template">
      <div class='panel'>
        <p>Sup</p>
      </div>
    </script>

<!--
    <div class="footer">
      <div class="container">
        <p>Made with Node, Express, MongoDB, and Twitter Bootstrap.  July 2013.</p>
      </div>
    </div>
  -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
      <script src="js/jquery.parallax.min.js"></script>
    <script src="/site3.js"></script>


  </body>
</html>