body { 
    padding-top: 70px;

}


.navbar-brand {
    margin-left: 35px;
}

.footer {
	text-align: center;
	padding: 20px 0;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
    width: 100%;
    z-index: 100;
    height: 40px;
}


    /*background-image: url('../debut_light.png');
    background-repeat: repeat-y;
*/

.container {
    min-width: 1000px;
}

.scrollbox {
    position: relative;
    z-index: 1;

    overflow: auto;
    max-height: 500px;

    background: #FFF no-repeat;
    background-image:
        -webkit-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0)),
        -webkit-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:
        -moz-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0)),
        -moz-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image:
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.1), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.1), rgba(0,0,0,0));
    background-position: 0 0, 0 100%;
    background-size: 100% 14px;
    }


.scrollbox:before,
.scrollbox:after {
    content: "";
    position: relative;
    z-index: -1;

    display: block;

    height: 30px;
    margin: 0 0 -30px;
    background: -webkit-linear-gradient(top,#FFF,#FFF 30%,rgba(255,255,255,0));
    background:    -moz-linear-gradient(top,#FFF,#FFF 30%,rgba(255,255,255,0));
    background:   linear-gradient(to bottom,#FFF,#FFF 30%,rgba(255,255,255,0));
    }

.scrollbox:after {
    margin: -30px 0 0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),#FFF 70%,#FFF);
    background:    -moz-linear-gradient(top,rgba(255,255,255,0),#FFF 70%,#FFF);
    background:   linear-gradient(to bottom,rgba(255,255,255,0),#FFF 70%,#FFF);
    }

#inline-right{
    margin-top: -30px;
    margin-left: 600px;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
    min-width: 1220px;
}

.lead {
    margin-bottom: 10px;
}

#sidebar-nav {
    min-height: 190px;
}

#task-template{
    display: none;
}

#tag-template{
    display: none;
}


.task {
    margin-bottom: 3px;
    border: 1px #eee;
    padding: 1px 15px;   
    border-radius: 3px;
    box-shadow: 0px 2px 5px #DCDCDC;
    background-color: white;
    overflow: hidden;
}

.task:hover{
    background-color: rgb(250, 250, 250);
}

.task-header{
    float: left;
    width: 70%;
    padding-top: 10px;
}

.task-status {
    padding-top: 10px;
    float: left;
    width: 20%;
    margin-left: 7%;
}

.task p {
    line-height: 10px;
    font-style: italic;
}

.task h5 {
    color: slategrey;
    margin-top: 5px;
    margin-bottom: 8px;
}

.loading {
    display: none;
}

.asana-link {
    font-size: 17.5px;
    color: slategrey;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0px 10px 0px;
    color: black;
}

#task-search-form {
    padding-bottom: 45px;
    /*border-bottom: 1px solid #eee;*/
}

#task-filter-form {
    opacity: .9;
}

#task-view{
    padding-top: 15px;
}

.twitter-typeahead {
    display: block !important;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    width: 100%;
    height: 35px;
    padding: 8px 12px;
    font-size: 0px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
 
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}



#tag-container{
    margin-bottom: 10px;
}

#tag-container div {
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
}

#tag-container div i:hover{
    color: black;
}

